// RED BRAND
$brand-red_dark-3: #180000;
$brand-red_dark-2: #a60321;
$brand-red_dark-1: #590209;
$brand-red: #d9043d;
$brand-red_light-1: #f2055c;

// GREEN AUXILIARY
$green_dark: #00a60d;
$green_light: #05f217;

// GRAY
$gray-1: #a8a6ac;
$gray-2: #a8a6ac;
$gray-3: #625f68;
$gray-4: #2a282f;

// BACKGROUND
$background-1: #f1f1f1;
$background-2: #f6f6f6;
